<nav class="navbar navbar-light bg-light">
    <div class="btn-group">
        <button class="btn btn-outline-primary active"><i class="fa fa-list"></i></button>
        <button class="btn btn-outline-primary"><i class="fa fa-table"></i></button>
    </div>


    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</nav>

<div class="container table-responsive mt-5 mb-5">
    <app-explore-table></app-explore-table>
</div>
