<main class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Page not found</h1>
        <p class="lead">The content you're trying to access is currently unavailable. If you think you should be
            seeing it try reloading the page. If the problem persists contact our support. We're sorry for the
            inconvenience.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/" routerLink="/" role="button">Home page</a>
    </div>
</main>
