:host {
    position: relative;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 1;
    display: flex;


    .preloader {
        align-self: center;
        width: 100%;
        text-align: center;
        font-size: 4rem;
        color: #fff;
    }
}
