<app-explore-breadcrumbs [path]="path" (changePath)="onChangePath($event)"></app-explore-breadcrumbs>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th class="text-right">Size</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of list">
        <td>
            <a href="#" *ngIf="file.isDirectory" (click)="changeDirRelative($event, file.name)">
                <i class="fa fa-folder fa-fw mr-2"></i>
                {{file.name}}
            </a>
            <span *ngIf="!file.isDirectory">
                <i class="fa fa-file fa-fw mr-2"></i>
                {{file.name}}
            </span>
        </td>
        <td class="text-right"
            [title]="!file.isDirectory ? file.size + ' bytes' : ''">{{file.isDirectory ? '&lt;dir&gt;' : file.size | fileSize}}</td>
    </tr>
    <tr *ngIf="!(list && list.length)">
        <td class="text-muted" colspan="2">
            <em>Empty</em>
        </td>
    </tr>
    </tbody>
</table>

<div class="overlay" *ngIf="wait">
    <div class="preloader">
        <i class="fa fa-spin fa-spinner"></i>
    </div>
</div>
